<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Web Register</display-name>

<!--  <servlet>-->
<!--    <servlet-name>StudentsServlet</servlet-name>-->
<!--    <servlet-class>ua.sumy.stpp.web.register.controller.servlet.StudentsServlet</servlet-class>-->
<!--    <load-on-startup>1</load-on-startup>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>StudentsServlet</servlet-name>-->
<!--    <url-pattern>/students</url-pattern>-->
<!--  </servlet-mapping>-->

</web-app>